@import "tailwindcss";
@theme {
  --color-df-shade: #725cad;
  --color-df-shade-lighter: #9c89d0;
  --color-df-accent: #8ccdeb;
  --color-bg-lighter: #14318a;
}

:root {
  --background: #0b1d51;
  --foreground: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
